aclocal.m4
autom4te.cache
compile
config.guess
config.h*
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-*
libtool
ltmain.sh
Makefile
Makefile.in
Makefile.in.in
missing
mkinstalldirs
*.o
*.lo
*.a
*.la
*.gmo
*~
po/POTFILES
po/stamp-it
stamp-h1
.deps
.libs
src/geoclue-agent-service
data/*.pc
data/*.xml
data/*.xml.in
data/*.valid
data/io.github.koko-ng.geoclue-agent.gschema.desktop
data/io.github.koko-ng.geoclue-agent.gschema.desktop.in
m4
